@font-face {
	font-family: 'Andy';
	src: url('/fonts/AndyBold.OTF') format('truetype');
	font-weight: Bold;
	font-style: normal;
}

:root {
	--color-backgroundblue: #263863;
	--color-button: #303f83;
	--color-lightblue: #495eab;
}

* {
	font-family: 'Andy', sans-serif;
	text-shadow:
		0px 0px 3px #000,
		0px 0px 3px #000,
		0px 0px 5px #000;
	text-align: center;
	color: white;
}

body {
	background-image: url('/backgrounds/forest-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000;
}

a {
	color: rgb(92, 193, 255);
}
