@font-face {
	font-family: 'Andy';
	src: url('/fonts/AndyBold.OTF') format('truetype');
	font-weight: Bold;
	font-style: normal;
}

:root {
	--color-backgroundblue: rgba(38, 56, 99, 0.8);
	--color-button: rgba(48, 63, 131, 0.9);
	--color-lightblue: rgb(73, 94, 171);
}

* {
	font-family: 'Andy', sans-serif;
	text-shadow:
		0px 0px 3px #000,
		0px 0px 3px #000,
		0px 0px 5px #000;
	text-align: center;
	color: white;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
	background-image: url('/backgrounds/forest-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000;
}

a {
	color: rgb(92, 193, 255);
}
