@font-face {
	font-family: 'Andy';
	src: url('/fonts/AndyBold.OTF') format('truetype');
	font-weight: Bold;
	font-style: normal;
}

:root {
	--color-backgroundblue: rgba(38, 56, 99, 0.8);
	--color-button: rgba(48, 63, 131, 0.9);
	--color-lightblue: rgb(73, 94, 171);

	--color-green: rgb(61, 212, 41);
	--color-red: red;
	--color-yellow: yellow;
}

* {
	font-family: 'Andy', sans-serif;
	text-shadow:
		0px 0px 3px #000,
		0px 0px 3px #000,
		0px 0px 5px #000;
	text-align: center;
	color: white;
}

body {
	background-image: url('/page-backgrounds/forest-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000;
}

a {
	color: rgb(92, 193, 255);
}

.color-cycle {
	font-size: 22px;
	animation: colors 6s linear infinite;
}

@keyframes colors {
	0% {
		color: rgb(255, 0, 0);
	}
	20% {
		color: rgb(255, 166, 0);
	}
	40% {
		color: rgb(255, 255, 0);
	}
	60% {
		color: rgb(0, 255, 0);
	}
	80% {
		color: rgb(0, 162, 255);
	}
	100% {
		color: rgb(255, 0, 0);
	}
}